jinja-shell

# ==============================================================================
# pgAdmin container environment variables
# ==============================================================================

PGADMIN_DEFAULT_EMAIL={{ PGADMIN_EMAIL }}
PGADMIN_DEFAULT_PASSWORD="{{ PGADMIN_PASSWORD | replace('"', '\\"') | replace('$', '$$') }}"
PGADMIN_LISTEN_PORT={{ PGADMIN_PORT }}
PGADMIN_CONFIG_SERVER_MODE=True
PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=True
