jinja-shell

# ==============================================================================
# PostgreSQL container environment variables
# ==============================================================================

POSTGRES_USER=postgres
POSTGRES_PASSWORD='{{ POSTGRES_ROOT_PASSWORD }}'
POSTGRES_DB=postgres

# SSL mode (optional)
POSTGRES_SSLMODE={{ POSTGRES_SSL_MODE }}

# Logging (also configured in postgresql.conf)
POSTGRES_LOG_STATEMENT={{ POSTGRES_LOG_STATEMENT }}
POSTGRES_LOG_DURATION={{ POSTGRES_LOG_DURATION }}
