
# This Variable Stores to Path to the /cold-storage 1TB HDD that stores my configurations
DATA_STORE_PATH={{ NGINX_MANAGER_DATA_STORE_PATH }}
CERTIFICATES_STORE_PATH={{ NGINX_MANAGER_CERTIFICATES_STORE_PATH }}

# Tailscale IP Address assigned to this device
TAILSCALE_IP={{ TAILSCALE_IP_ADDRESS }}