
# This Variable stores the Pihole password for access
PIHOLE_WEBPASSWORD={{ PI_HOLE_SECURE_WEBPASSWORD | replace('$', '$$') }}

# This Variable Stores to Path to the /cold-storage 1TB HDD that stores my configurations
PI_HOLE_CONFIG_STORAGE_PATH={{ PI_HOLE_CONFIG_STORAGE_PATH }}
PI_HOLE_LOGS_STORAGE_PATH={{ PI_HOLE_LOGS_STORAGE_PATH }}

# Tailscale IP Address assigned to this device
TAILSCALE_IP={{ TAILSCALE_IP_ADDRESS }}

# DNS Configurations
DNS1=1.1.1.1
DNS2=8.8.8.8